<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>2015112574_박현우</title>
    <style>
        td, th {
            padding:10px;   /* 셀 테두리와 내용 사이의 간격(패딩) */
        }
    </style>
</head>
<body>  
    <table border="1">
     
        <tr>
            <th>과목명</th>
            <th>머신러닝</th>
        </tr>
    </table>
	
	<form action="url" method="GET">
		내용 : <br />
		<textarea rows="5" cols="20"></textarea> <br />
		<input type="submit"/>
	</form>​

</body>
</html>